<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_SanBongMini.Properties.Settings.QLSBConnectionString"
            connectionString="Data Source=LAPTOP-QNKJV3VK\SQLEXPRESS;Initial Catalog=QLSB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>